# CicadaTweaks access transformer config
public net.minecraft.advancements.AdvancementList field_192092_b # advancements
public net.minecraft.advancements.AdvancementList field_192094_d # nonRoots
public net.minecraft.advancements.AdvancementList field_192095_e # listener
